h1 {
    font-family: sans-serif;
    color:black;
}

h2 {
    font-family: Verdana;
    color: #D4F1F4
}

p {
    font-family: sans-serif;
}

a:visited{
    font-family: sans-serif;
    color: #05445E;
    text-decoration: none;
}

a:link{
    font-family: sans-serif;
    color: #189AB4;
    text-decoration: none;
}
a:hover
{
    font-family: sans-serif;
    color: #75E6DA;
    text-decoration: none;
}

img{
    border-radius: 50%;
    size: 100;
}

ul{
    font-family: sans-serif;
    color: #D4F1F4
}

.vertical-line-bg {
  background-color: #05445E; 
  width: 1px; 
  height: 150px; 
  
}

footer{
    font-family: sans-serif;
    color:grey
}

table, th, td {
  
  border-radius: 10px;
}



